.booking {
  position: relative;
  padding: $padding-l;
  height: 50rem;
  background-image: linear-gradient(
      105deg,
      rgba($white, 0.8) 0%,
      rgba($white, 0.8) 55.2%,
      transparent 55.5%
    ),
    url('../images/nat-10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $br-small;
  box-shadow: $shadow-common;

  &__form {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40%;
    font-family: inherit;
    font-size: $fz-regular;
    color: $color-text;

    &--label {
      position: relative;
      display: flex;
      flex-flow: column nowrap;

      &:not(:last-child) {
        margin-bottom: $margin-md;
      }
    }
  }

  &__form--input-wrapper {
    position: relative;

    & + & {
      margin-top: $margin-l;
    }
  }

  &__form-input {
    padding: $padding-sm $padding-md;
    border-radius: $br-normal;
    background-color: rgba($white, 0.7);
    border: 2px solid $color-secondary;
    color: inherit;

    &::placeholder {
      color: tomato;
    }

    &:focus + .booking__form-label-text,
    &:not(:placeholder-shown) + .booking__form-label-text {
      transform: translate(1rem, -5rem);
      color: $color-text;
    }

    &:focus {
      outline: none;
      border: 2px solid $color-primary;
      box-shadow: $shadow-common;
    }

    &:focus:invalid {
      outline: none;
      border: 2px solid $color-placeholder-invalid;
      box-shadow: $shadow-common;
    }
  }

  &__form-label-text {
    position: absolute;
    color: $color-text-placeholder;
    top: 50%;
    left: 1rem;
    transform: translate(1rem, -50%);
    transition: transform 150ms cubic-bezier($default-cubic),
      color 150ms cubic-bezier($default-cubic);
  }
}

.booking__form-radio-group {
  display: flex;
  justify-content: center;
}

.booking__form-radio {
  margin-top: $margin-md;

  &-input {
    @include visuallyHidden;
  }

  // responsible for central dot of the radio button
  &-input:checked
    + .booking__form-radio-label
    > .booking__form-radio-button::after {
    opacity: 1;
  }

  &-label {
    position: relative;
    cursor: pointer;
    color: $color-text;
    margin-left: 5rem;
  }

  &-button {
    position: absolute;
    top: 0.1rem;
    left: -3rem;
    height: 2rem;
    width: 2rem;
    border: 2px solid $color-secondary;
    border-radius: 50%;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      background-color: $color-secondary;
      opacity: 0;
      transition: opacity 100ms ease-in;
    }
  }
}
