.heading {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__hero {
    margin-bottom: 3rem;
    color: $white;
    text-transform: uppercase;

    &--main {
      display: block;
      font-size: 6rem;
      letter-spacing: 3.5rem;

      animation-name: letterSpacingIn;
      animation-duration: 1250ms;
      animation-timing-function: $default-cubic;
    }

    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.7rem;

      animation-name: letterSpacingIn--subtle;
      animation-duration: 1250ms;
      animation-timing-function: $default-cubic;
    }

    /*IF ANIMATION IS TWITCHY, UNCOMMENT THIS*/
    /*backface-visibility: hidden;*/
  }
}
