.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to top right,
      rgba(111, 213, 189, 0.7),
      rgba(85, 150, 197, 0.7)
    ),
    url('../images/hero.jpg');
  background-size: cover;
  background-position: top;
  /*clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);*/

  &__logo-wrapper {
    position: absolute;
    left: 3rem;
    top: 3rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__heading-wrapper {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading-primary {
    margin-bottom: 3rem;
    color: $white;
    text-transform: uppercase;

    &--main {
      display: block;
      font-size: 6rem;
      letter-spacing: 3.5rem;

      animation-name: moveInLeft;
      animation-duration: 1250ms;
      animation-timing-function: $default-cubic;
    }

    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.7rem;

      animation-name: moveInRight;
      animation-duration: 1250ms;
      animation-timing-function: $default-cubic;
    }

    /*IF ANIMATION IS TWITCHY, UNCOMMENT THIS*/
    /*backface-visibility: hidden;*/
  }

  .btn {
    transition: transform 150ms cubic-bezier($cubic-fast),
      box-shadow 50ms cubic-bezier($cubic-fast);
    box-shadow: $shadow-common;

    &--animated:link,
    &--animated:visited {
      text-transform: uppercase;
      color: inherit;
      text-decoration: none;
      position: relative;
      font-size: 1.6rem;
      animation: moveUp 0.5s ease-in 0.3s;
      animation-fill-mode: backwards;
    }

    &--hero {
      text-align: center;
      background-color: $white;
      padding: 1.5rem 3rem;
      border-radius: 100vw;
      margin: 0 auto;
      display: inline-block;
    }

    &:hover {
      transform: translateY($slight-shift);
    }

    &:active {
      transform: translateY($slight-shift);
      box-shadow: $shadow-common--alt;
    }
  }
}
