header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to top right,
      rgba(111, 213, 189, 0.7),
      rgba(85, 150, 197, 0.7)
    ),
    url('../images/hero.jpg');
  background-size: cover;
  background-position: top;
  /*clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);*/
}

.header__logo-wrapper {
  position: absolute;
  left: 3rem;
  top: 3rem;
}

.header__logo {
  height: 35px;
}

.heading-wrapper {
  position: absolute;

  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  margin-bottom: 3rem;
  color: $white;
  text-transform: uppercase;

  /*IF ANIMATION IS TWITCHY, UNCOMMENT THIS*/
  /*backface-visibility: hidden;*/
}

.heading-primary--main {
  display: block;
  font-size: 60px;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1250ms;
  animation-timing-function: $default-cubic;
}

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;

  animation-name: moveInRight;
  animation-duration: 1250ms;
  animation-timing-function: $default-cubic;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(5vw);
  }

  50% {
    opacity: 0.2;
    transform: translateX(-1vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }

  50% {
    opacity: 0.2;
    transform: translateX(1vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn {
  transition: transform 150ms cubic-bezier($cubic-fast),
    box-shadow 50ms cubic-bezier($cubic-fast);
  box-shadow: $shadow-common;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  position: relative;

  animation: moveUp 0.5s ease-in 0.3s;
  animation-fill-mode: backwards;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero__btn {
  text-align: center;
  background-color: $white;
  padding: 15px 30px;
  border-radius: 100vw;
  margin: 0 auto;
  display: inline-block;
}

.btn:hover {
  transform: translateY($btn-up-shift);
}

.btn:active {
  transform: translateY($btn-press);
  box-shadow: $shadow-common--alt;
}
