$bgc-primary: #ffaf47;

nav {
  margin: 30px;
  font-size: 1.6rem;
  background-color: $bgc-primary;
}

.navigation {
  list-style: none;

  li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    a {
      text-decoration: none;
    }
  }
}
