.tours__card {
  perspective: 600rem;

  &-side {
    position: relative;
    min-height: 50rem;
    border-radius: $br-normal;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 300ms cubic-bezier($default-cubic);
    backface-visibility: hidden;
    box-shadow: $shadow-common;

    &--front {
      position: absolute;
    }

    &--back {
      background-color: lightgreen;
      transform: rotateY(180deg);

      &-1 {
        background-image: $card-gradient-1;
      }

      &-2 {
        background-image: $card-gradient-2;
      }

      &-3 {
        background-image: $card-gradient-3;
      }
    }
  }

  &:hover &-side--front {
    transform: rotateY(180deg);
  }

  &:hover &-side--back {
    transform: rotateY(0);
  }
}
