.tours__card {
  perspective: 1500rem;

  &-side {
    position: relative;
    min-height: 50rem;
    border-radius: $br-normal;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 300ms cubic-bezier($default-cubic);
    backface-visibility: hidden;
    box-shadow: $shadow-common;

    &--front {
      position: absolute;
    }

    &--back {
      background-color: lightgreen;
      transform: rotateY(180deg);
      padding: 1rem 1rem;

      &-1 {
        background-image: $card-gradient-1;
      }

      &-2 {
        background-image: $card-gradient-2;
      }

      &-3 {
        background-image: $card-gradient-3;
      }
    }
  }

  &:hover &-side--front {
    transform: rotateY(-180deg);
  }

  &:hover &-side--back {
    transform: rotateY(0);
  }

  // Image on the front face of a card
  &-image {
    position: relative;
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);

    &--1 {
      background-image: $card-gradient-1, url('../images/nat-5.jpg');
    }
    &--2 {
      background-image: $card-gradient-2, url('../images/nat-6.jpg');
    }
    &--3 {
      background-image: $card-gradient-3, url('../images/nat-7.jpg');
    }
  }

  &-heading {
    padding: 1rem;
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 2rem;
    font-weight: $fw-bold;
    text-transform: uppercase;

    &--1 {
      background-image: $card-gradient-1;
    }
    &--2 {
      background-image: $card-gradient-2;
    }
    &--3 {
      background-image: $card-gradient-3;
    }
  }

  &-details {
    width: 80%;
    color: $color-text;
    font-size: $fz-regular;
    margin: 0 auto;
    text-align: center;

    li {
      padding: 1rem;
    }

    li + li {
      border-top: 1px solid $border-bottom-details;
    }
  }

  // Card backface styling
  &-pricebox {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 5%;
    left: 50%;
    text-align: center;
    font-size: 6rem;
  }
  &-price {
    color: $white;
    font-weight: $fw-bold;
    & span {
      font-size: 3rem;

      font-weight: $fw-light;
      display: block;
    }
  }
}
