// Heading text animation ->
@keyframes letterSpacingIn {
  0% {
    opacity: 0;
    letter-spacing: 6rem;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letterSpacingIn--subtle {
  0% {
    opacity: 0;
    letter-spacing: 2.5rem;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

// Heading text animation <-

// Header button animation ->
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(-$slight-shift);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
//// Header button animation <-
