.u {
  &__text-center {
    text-align: center;
  }

  &__icon-mgb-xs {
    margin-bottom: 1rem;
  }

  &__heading-mgb-sm {
    margin-bottom: 4rem;
  }

  &__heading-mgb-md {
    margin-bottom: 8rem;
  }

  &__heading-mgb-sm {
    margin-bottom: 2rem;
  }

  &__mgt-sm {
    margin-top: 2rem;
  }
  &__mgt-md {
    margin-top: 4rem;
  }
  &__mgt-lg {
    margin-top: 8rem;
  }
}
