.section {
  padding: $sectionPaddingY 0;
}

.section__about {
  background-color: $color-bg-muted;
  margin-top: -11rem;
}

.section__features {
  margin-top: -11rem;
  transform: skewY(-3deg);
  background-blend-mode: overlay;
  @include backgroundImageGradientCover('../images/nat-4.jpg');

  & > * {
    transform: skewY(3deg); // counteracts the skewY(-5deg) of the section
  }
}

.section__tours {
  margin-top: -11rem;
  padding-bottom: $padding-xl;
  background-color: $color-bg-muted;
}

.section__testimonials {
  padding-top: $padding-xl;
  padding-bottom: $padding-xl;
}
