<div class="alt-navigation">
  <input
    id="alt-navigation__checkbox"
    role="menuitem"
    aria-label="mobile menu button"
    type="checkbox"
    class="input alt-navigation__checkbox" />
  <label
    tabindex="0"
    for="alt-navigation__checkbox"
    class="alt-navigation__button">
    <span class="alt-navigation__icon"></span>
  </label>

  <div class="alt-navigation__backdrop"></div>
  <nav class="alt-navigation__nav">
    <ul class="alt-navigation__nav-list">
      <li class="alt-navigation__nav-item">
        <a
          class="alt-navigation__nav-link"
          href="#"
          >about</a
        >
      </li>
      <li class="alt-navigation__nav-item">
        <a
          class="alt-navigation__nav-link"
          href="#"
          >stories</a
        >
      </li>
      <li class="alt-navigation__nav-item">
        <a
          class="alt-navigation__nav-link"
          href="#"
          >Legal Info</a
        >
      </li>
      <li class="alt-navigation__nav-item">
        <a
          class="alt-navigation__nav-link"
          href="#"
          >Careers</a
        >
      </li>
    </ul>
  </nav>
</div>
