<div class="alt-navigation">
  <label
    for="alt-navigation__checkbox"
    class="alt-navigation__button">
  </label>
  <input
    id="alt-navigation__checkbox"
    role="menuitemcheckbox"
    type="checkbox"
    class="input alt-navigation__checkbox" />
  <div class="alt-navigation__backdrop">&nbsp;</div>
  <nav class="alt-navigation__nav">
    <ul class="alt-navigation__nav-list">
      <li class="alt-navigation__nav-item">
        <a
          class="alt-navigation__nav-link"
          href="#"
          >about</a
        >
      </li>
      <li class="alt-navigation__nav-item">
        <a
          class="alt-navigation__nav-link"
          href="#"
          >stories</a
        >
      </li>
      <li class="alt-navigation__nav-item">
        <a
          class="alt-navigation__nav-link"
          href="#"
          >Legal Info</a
        >
      </li>
      <li class="alt-navigation__nav-item">
        <a
          class="alt-navigation__nav-link"
          href="#"
          >Careers</a
        >
      </li>
    </ul>
  </nav>
</div>
