<section class="section section__booking">
  <div class="row">
    <div class="booking">
      <h2 class="heading__secondary u__heading-mgb-sm">Book your shit now!</h2>

      <form class="booking__form">
        <div class="booking__form--input-wrapper">
          <label class="booking__form--name">
            <input
              class="booking__form-input"
              type="text"
              placeholder=" "
              required />
            <span class="booking__form-label-text">Full Name</span>
          </label>
        </div>
        <div class="booking__form--input-wrapper">
          <label class="booking__form--email">
            <input
              class="booking__form-input"
              type="email"
              placeholder=" "
              required />
            <span class="booking__form-label-text">Email</span>
          </label>
        </div>
      </form>
    </div>
  </div>
</section>
