<section class="section section__features">
  <ul class="row features__list">
    <li class="col-1-of-4">
      <div class="feature">
        <i class="feature__icon icon-basic-world"></i>
        <h3 class="heading__tertiary u__heading-mgb-sm">Explore the world</h3>
        <p class="feature__text">
          Time to visit overcrowded, overrated destinations
        </p>
      </div>
    </li>
    <li class="col-1-of-4">
      <div class="feature">
        <i class="feature__icon icon-basic-compass"></i>
        <h3 class="heading__tertiary u__heading-mgb-sm">Meet Nature</h3>
        <p class="feature__text">Nature is fucking lit!</p>
      </div>
    </li>
    <li class="col-1-of-4">
      <div class="feature">
        <i class="feature__icon icon-basic-map"></i>
        <h3 class="heading__tertiary u__heading-mgb-sm">find your way</h3>
        <p class="feature__text">
          Nobody speaks english, you gonna use sign language to communicate
        </p>
      </div>
    </li>
    <li class="col-1-of-4">
      <div class="feature">
        <i class="feature__icon icon-basic-heart"></i>
        <h3 class="heading__tertiary u__heading-mgb-sm">
          live a healthier life
        </h3>
        <p class="feature__text">Your going to be so exhausted</p>
      </div>
    </li>
  </ul>
</section>
