<section class="section section__testimonials">
  <div class="u__text-center">
    <h2 class="heading__secondary u__heading-mgb-md">what people say</h2>
  </div>

  <div class="row">
    <div class="testimonial">
      <figure class="testimonial__image-wrapper">
        <img
          class="testimonial__image"
          src="./images/nat-8.jpg"
          alt="Woman kayaking" />
      </figure>
      <div class="testimonial__text">
        <h3 class="heading__tertiary u__heading-mgb-sm">
          I ate berries and tree bark
        </h3>
        <p>
          Had the most wild weekend of my life. I made 1200 selfies, now I will
          post them all on Facebook so everyone acknowledge that I am capable of
          having a good time. Now this text is nicely shaped over the circle
          image to the left, neat huh? Now this text is nicely shaped over the
          circle image to the left, neat huh?
        </p>
      </div>
    </div>
  </div>
</section>
