<section class="section section__tours">
  <div class="u__text-center">
    <h2 class="heading__secondary u__heading-mgb-md">most popular tours</h2>
  </div>
  <ul class="row tours">
    <li class="col-1-of-3">
      <div class="tours__card">
        <div class="tours__card-side tours__card-side--front">FRONT</div>
        <div
          class="tours__card-side tours__card-side--back tours__card-side--back-1">
          Back
        </div>
      </div>
    </li>
    <li class="col-1-of-3">
      <div class="tours__card">
        <div class="tours__card-side tours__card-side--front">FRONT</div>
        <div
          class="tours__card-side tours__card-side--back tours__card-side--back-2">
          Back
        </div>
      </div>
    </li>
    <li class="col-1-of-3">
      <div class="tours__card">
        <div class="tours__card-side tours__card-side--front">FRONT</div>
        <div
          class="tours__card-side tours__card-side--back tours__card-side--back-3">
          Back
        </div>
      </div>
    </li>
  </ul>
</section>
