<section class="section section__tours">
  <div class="u__text-center">
    <h2 class="heading__secondary u__heading-mgb-md">most popular tours</h2>
  </div>
  <ul class="row tours">
    <li class="col-1-of-3">
      <div class="tours__card">
        <div class="tours__card-side tours__card-side--front">
          <div class="tours__card-image tours__card-image--1"></div>
          <h3 class="tours__card-heading tours__card-heading--1">
            Lone Traveler
          </h3>
          <ul class="tours__card-details">
            <li>Week-end tours</li>
            <li>Make some photos</li>
            <li>Eat some food</li>
            <li>For lazy-ass personalities</li>
          </ul>
        </div>
        <div
          class="tours__card-side tours__card-side--back tours__card-side--back-1">
          <div class="tours__card-pricebox">
            <p class="tours__card-price"><span>Only</span>$790</p>
            <a
              class="btn btn__card"
              href="#"
              >Book now</a
            >
          </div>
        </div>
      </div>
    </li>
    <li class="col-1-of-3">
      <div class="tours__card">
        <div class="tours__card-side tours__card-side--front">
          <div class="tours__card-image tours__card-image--2"></div>
          <h3 class="tours__card-heading tours__card-heading--2">
            Mountain Explorer
          </h3>
          <ul class="tours__card-details">
            <li>5-day tours</li>
            <li>Climb some mountains</li>
            <li>Break some limbs, why not</li>
            <li>Fresh air enjoyer</li>
          </ul>
        </div>
        <div
          class="tours__card-side tours__card-side--back tours__card-side--back-2">
          <div class="tours__card-pricebox">
            <p class="tours__card-price"><span>Only</span>$690</p>
            <a
              class="btn btn__card"
              href="#"
              >Book now</a
            >
          </div>
        </div>
      </div>
    </li>
    <li class="col-1-of-3">
      <div class="tours__card">
        <div class="tours__card-side tours__card-side--front">
          <div class="tours__card-image tours__card-image--3"></div>
          <h3 class="tours__card-heading tours__card-heading--3">
            Snow Piercer
          </h3>
          <ul class="tours__card-details">
            <li>4-day tours</li>
            <li>Snow, Snow, Snow</li>
            <li>Meat a bear</li>
            <li>Hunt for avalanches</li>
          </ul>
        </div>
        <div
          class="tours__card-side tours__card-side--back tours__card-side--back-3">
          <div class="tours__card-pricebox">
            <p class="tours__card-price"><span>Only</span>$1200</p>
            <a
              class="btn btn__card"
              href="#"
              >Book now</a
            >
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="u__text-center">
    <a
      class="btn btn__tours--all"
      href=""
      >DISCOVER ALL TOURS</a
    >
  </div>
</section>
